{% extends 'base.html.twig' %}

{% block title 'Accueil' %}

{% block body %}
    <div id="home" class="container">
        <h1>Bienvenue sur la billeterie du Louvre !</h1>
        <div class="home-paragraphe col-xl-8 col-md-10 col-sm-12">
            <p>
                Le musée du Louvre est un des plus grands musées du monde. C’est aussi le plus grand musée parisien. Il
                est situé au cœur de la ville de Paris, près de la rive droite de la Seine. Le bâtiment est un ancien
                palais royal.

            </p>
            <p>
                Les principaux chefs-d’œuvre du musée du Louvre sont des peintures, des sculptures, des objets
                archéologiques tels que :
                Le Code d’Hammurabi, la Vénus de Milo, La Joconde de Léonard de Vinci, ou encore La Liberté guidant le
                peuple d’Eugène Delacroix.
            </p>
            <p>
                Le Louvre est le musée le plus visité au monde avec ses 9,3 millions de visiteurs en 2014. C’est le
                musée le plus populaire sur Instagram en 2014 et le sixième lieu le plus géolocalisé au monde.
            </p>
            <p>
                Le public est jeune, en effet 50% des visiteurs ont moins de 30 ans. Notons enfin que 70% des visiteurs
                du musée du Louvre sont étrangers : les Américains, les Chinois, les Italiens, les Anglais et les
                Brésiliens sont les plus nombreux.
            </p>
        </div>
        <a id="btn-order" class="btn btn-primary btn-lg" href="{{ path('booking') }}">Reserver vos billets</a>
    </div>
{% endblock %}