* {
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}

html {
    height:100%;
}

body {
    margin:0;
    min-height:100%;
    padding:0 0 6rem;
    position:relative;
}

p {
    color:#333;
    margin:0;
}

h2 {
    color:#333;
    font-size:2.25rem;
    font-weight:400;
    text-transform:uppercase;
}

h3,button.btn.btn-link {
    color:#333;
    font-size:1.5rem;
    font-weight:400;
    margin:0;
    padding:0;
}

.btn-primary {
    background-color:#83B6D6;
    border-color:#83B6D6;
}

.btn-primary:hover,.btn-primary:not(:disabled):not(.disabled):active {
    background-color:#6b97b2;
    border-color:#6b97b2;
}

.btn-primary:focus {
    box-shadow:0 0 0 .2rem #6b97b2;
}

.hidden {
    height:0;
    visibility:hidden;
    width:0;
}

header {
    border-bottom:1px solid #83B6D6;
    padding:15px;
}

.lead {
    font-size:1.3rem;
    text-align:center;
}

footer {
    background:#333;
    width: 100%;
    bottom:0;
    color:#fff;
    left:0;
    position:absolute;
    right:0;
    text-align:center;
}

footer a {
    color:#fff;
}
@media screen and (max-width: 490px){
    footer p {
        font-size: .5rem !important;
    }
}
footer p {
    color:#fff;
    display:block;
    font-size:.8rem;
    line-height:5rem;
}

#home {
    padding:20px 0;
    text-align:center;
}

#home h1 {
    margin:7rem 5px 0;
    font-size: 2rem;
}

#home .home-paragraphe {
    margin:3rem auto 0;

}

#home .btn {
    margin:3rem 0;
}

#btn-order {
    font-size:1.5rem;
    padding:10px 25px;
    text-transform:uppercase;
}

.dow,.datepicker-switch {
    text-transform:uppercase!important;
}

.nav-tabs {
    border:none;
    line-height:10px;
    margin:20px auto!important;
    text-align:center;
}

.circle {
    background:none;
    border:2px #333 solid;
    border-radius:30px;
    color:#000;
    height:30px;
    line-height:25px;
    margin:0 auto;
    text-align:center;
    width:30px;
}

.active .circle {
    background-color:#333;
    color:#fff;
}

.circle-label {
    color:#000;
}

.form-step {
    text-align:center;
}

.form-step small {
    text-align:left;
}

.form-group {
    margin-bottom:0;
}

.form-control:focus {
    border-color:#83B6D6;
    box-shadow:0 0 0 .2rem #83B6D6;
}

ul.tickets {
    list-style:none;
    padding:0;
}

input.invalid {
    border-color:#dc3545;
}
.input-div{
    margin: 0 auto;
}

.booking-header i, #confirm-header i {
    color:#333;
    font-size:2.75rem;
    margin-bottom:10px;
}

.booking-header {
    margin-top:35px;
}

.booking-text {
    font-size:1.25rem;
    margin:0;
}

.card-header {
    background-color:#333;
}

.card-header button.btn.btn-link {
    color:#FFF;
}

.card {
    border:none;
    border-bottom:#333 1px solid!important;
}

.btn-delete-ticket {
    margin-bottom:20px;
}

.btn-add-ticket {
    margin:20px 0;
}
@media screen and (max-width:500px){
    #smartwizard ul li {
        width:90px !important;
    }

    #smartwizard ul {
        width:280px !important;
    }
}
#smartwizard ul li {
    margin:0 auto;
    width:125px;
}

#smartwizard ul {
    margin:0 auto;
    width:450px;
}
.nav-link{
    padding: 0 !important;
}

.sw-btn-prev,.sw-btn-next {
    color:#fff!important;
}

.booking-nav {
    margin-top:40px;
}

.StripeElement {
    -webkit-transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    background-clip:padding-box;
    background-color:#fff;
    border:1px solid #ced4da;
    border-radius:.25em;
    box-shadow:0 1px 3px 0 #e6ebf1;
    box-sizing:border-box;
    color:#495057;
    font-size:1rem;
    line-height:1.5;
    padding:.375rem .75rem;
    transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    width:100%;
}

.StripeElement--focus {
    box-shadow:0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
    border-color:#fa755a;
}

.StripeElement--webkit-autofill {
    background-color:#fefde5!important;
}

.nav-tabs .nav-link,.nav-tabs .nav-link:focus,.nav-tabs .nav-link:hover {
    border:none;
}

.cart-label,.coordonnees-row,.btn-ticket {
    margin-top:20px;
}
#confirm{
    padding:20px 0;
    text-align: center;
}
#confirm .btn{
    margin-top: 20px;
}
.price-text{
    margin-top:20px;
    font-size:1.5em;
    font-weight: bold;
    text-transform: uppercase;
}
.btn-link{
    width: 100%;
}
.btn-link .ticket-header-left{
    text-align: center;
}
.btn-link .ticket-header-right{
    float:right;
    line-height: 1.5;
}
.btn-link i{
    margin-left: 15px;
}